///* ========================================================================
//   #NAVBAR
//   ======================================================================== */

//
// 1. Customize it to suit your brand's dimensions
//
$navbar-height: 70px;

$navbar-padding: 13px 30px;
$navbar-background-color: $white;
$navbar-border-width: 1px;
$navbar-border-color: #E6EAEE;


$navbar-brand-width: 44px; // [1]
$navbar-brand-height: 44px; // [1]
$navbar-brand-margin: 0 20px 0 0;
