.u-pos-rel {
  position: relative
}

.u-pos-stc {
  position: static
}

.u-pos-abt {
  position: absolute
}

.u-pos-fix {
  position: fixed
}

.u-pos-sti {
  position: -webkit-sticky;
  position: sticky
}
