.u-z-1 {
  z-index: 1
}

.u-z-2 {
  z-index: 2
}

.u-z-3 {
  z-index: 3
}

.u-z-4 {
  z-index: 4
}

.u-z-5 {
  z-index: 5
}

.u-z-10 {
  z-index: 10
}

.u-z-20 {
  z-index: 20
}

.u-z-100 {
  z-index: 100
}
